/* configurações gerais e reset de CSS */
html, body{
    height: 100vh;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #222;
}
body, p, ul, li, a, h1, h2 {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FAFAFA;
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

/* COMPONENTES PADRÃO */

.btn{
    /* height: 40px; */
    width: 130px;
    border-radius: 6px;
    margin: 5px 15px;
    color: #3E3939;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 0.93em;
}


.btn-primary{
    background-color: #fff;
}

.btn-secondary{
    background-color: #90FC94;
}

/* NAVBAR */
.navbar{
    height: 60px;
    background-color: #353A39;
    display: flex;
    align-items: center;
}

.brand{
    display: flex;
    color: #C7FDC6;
    align-items: center;
    font-size: 1.77em;
    letter-spacing: -0.015em;
    margin-left: 35px;
}

.brand img{
    height: 30px;
}

.menu{
    margin-left: 60px;
}

.menu ul{
    display: flex;
}

.menu ul>li{
    padding: 10px 15px;
    letter-spacing: -0.015em;
}
.login{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
}