:root{
 font-family: 'Montserrat', sans-serif;
 --color-button-primary: #90FC94;
 --color-text-bt-primary: #000000;
 --color-button-secondary: #F4FFF3 ;
 --color-text-bt-secondary: #3E3939;
 --color-button-terciary: #043C35;
 --color-text-bt-terciary: #FAFAFA;
 --color-bg-primary: #FFFFFF ;
 --color-bg-secondary: #E5FFE4 ;
 --font-color-primary: #000000  ;
 --font-color-secondary: #0C2702  ;
 --shadow: 3px 0 4px 4px #000000 ;
 --font-size-h1-h2: 36px ;
 --font-weight-p: regular ;
 --font-size-p: 18px;
 --bg-navbar-footer: #353A39 ;
 --line-footer: #90FC94;
 --color-font-brand: #C7FDC6;
 --bg-cad-login: #DAECDC;
}